html {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
    background: rgb(241, 241, 241) url("/images/bg-body-1.gif") repeat scroll 0% 0%;
    background-clip: border-box;
    background-size: auto;
}

h1{
    font-weight: 800;
}

div.nav {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;

    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
}

div.nav ul {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
ul {
    display: block;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 40px;
}
div.nav ul li.date {
    color: rgb(153, 153, 153);
    float: left;
    padding-top: 4px;
}
div.nav ul li {
    display: inline;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
    font-size: 12px;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.logo {
    height: 20px;
    width: 20px;
}

body{
    text-align: center;
}

.container{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 820px;
}

.question a:visited {
    /*color:#6495ed;*/
}

.question{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
}

.profile{
    text-align: left;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.edit-link{
    text-align: right;
}

.answer-field textarea{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
    width: 400px;
    height: 100px;
}

.simple_form .row {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 7px;
    padding-top: 0px;
}
.row {
    display: block;
    margin-top: 10px;
}


fieldset {
    border-style: none;
    margin: 0px;
    padding: 0px;
}

.simple_form .text {
    background: rgb(255, 255, 255) repeat-x scroll 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    border: 1px solid rgb(213, 212, 212);
    font-size: 20px;
    margin: 0px;
    padding: 9px 10px 10px;
    width: 737px;
}

.simple_form .text:hover{
    background: rgb(255, 255, 255) repeat-x scroll 0% 0%;
    background-clip: border-box;
    background-size: auto;
    border: 1px solid rgb(107, 177, 47);
    font-size: 20px;
    margin: 0;
    padding: 9px 10px 10px;
    width: 737px;
}

.simple_form .submit {
    background: transparent url("/images/btn-submit.png") no-repeat scroll 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    border: medium none currentColor;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 30px;
    height: 44px;
    margin: 40px auto 0px;
    padding: 0px;
    text-shadow: 1px 1px 1px rgb(94, 139, 45);
    width: 119px;
}

.books {
    width: 700px;
    font-size: 30px;
    line-height: 36px;
    background: transparent none repeat scroll 0% 0%;
    background-size: auto;
    text-align: left;
    background-clip: border-box;
    background-size: auto;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 20px;
    text-align: left;
}

.books td{
    font-size: 20px;
    line-height: 26px;
    margin: 0px auto;
    background: no-repeat 0% 0%;
    background-size: auto;
    padding: 9px 8px 0px;
}

.books tbody tr:hover{
    color: rgb(107, 177, 47);
    font-weight: 500;
}


.books th{
    font-size: 24px;
    border-bottom: 2px solid ;
    font-weight: 700;
    padding: 10px 8px;
    color: rgb(22, 125, 230);
}

.ui-widget-overlay{
    background: rgba(0, 0, 0, .3) none !important;
}

.ui-widget-header{
    background: none !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #000000 !important;
    font-weight: 800;
}

.fb-login-button{
    background: #29447E url("/images/fb-btn-single.png") no-repeat;
    line-height: 39px;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px 0 1px;
    text-decoration: none;
    outline: none;
    width: 220px;
    text-align: right;
    color: white !important;
}

.author{
    width: 713px !important;
}

.ui-autocomplete{
    text-align: left;
}

#header{
    font-family: "HelveticaNeueW01-75Bold", "Helvetica Neue", sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 0px 1px 0px rgb(247, 245, 243);
}

#gradient{
    height: 100%;
    width: 720px;
    padding: 20px;
    background-color: white;

    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    -o-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

    /* rounded corners */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white),
    color-stop(65%, white), color-stop(100%, #f7f7f7));
    background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
    background: -o-gradient(linear, left top, left bottom, color-stop(0%, white),
        color-stop(65%, white), color-stop(100%, #f7f7f7));
}

#footer{
    padding-top: 100px;
    color: rgb(153, 153, 153);
}

#footer a:visited{
    color: rgb(153, 153, 153);
}