<h2>Thanks for your vote</h2>
<p class="notice"><%= notice %></p>
<div id="gradient">
  <p>Let's decide what books are the best together!</p>
  <p>Share Best Book Ever with your friens!</p>
  <div id="likers" >
    <div id="gp">
      <g:plusone size="tall" annotation="none"></g:plusone>
    </div>
    <div id="tw">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="Okendokenn">Tweet</a>
    </div>
    <div id="fb" <%= request.env['HTTP_USER_AGENT'].index('opera') or request.env['HTTP_USER_AGENT'].index('Opera') ? "class='opera-tweak'" : "" %>>
      <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true" data-font="lucida grande"></div>
    </div>
  </div>
  <table class="books">
    <thead>
    <tr>
      <th>Book</th>
      <th>Votes</th>
    </tr>
    </thead>
    <tbody>

    <% @books.each do |book| %>
        <tr>
          <td><%= book.full_name %></td>
          <td style="text-align: center;"><%= book.vote_count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script type="text/javascript">
      (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
  </script>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=278822135506278";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="fb-root"></div>
</div>